# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Extracted game data (NEVER commit copyrighted game data)
extracted/
*.paz
*.pamt
*.pabg

# Superpowers
.superpowers/

# Build artifacts
dist/
build/pyinstaller_work/
build/work/
build/*.spec
inputmap_common.xml
extract_inputmap.py
